<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account - Ecommerce Tailwind</title>

    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- header -->
    <header class="shadow-sm bg-white  p-2">
        <div class="flex flex-row items-center justify-between">
            <a href="index.html">
                <img src="/assets/images/logo.svg" alt="Logo" class="w-32">
            </a>

            <div
                id="search-container" 
                class="w-full max-w-xl relative hidden md:flex">
                <span class="absolute left-4 top-3 text-lg text-gray-400">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="text" name="search" id="search"
                    class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none"
                    placeholder="Search">
                <button onclick="handleSearch()" class="bg-primary border border-primary text-white px-8 rounded-r-md 
                    hover:bg-transparent hover:text-primary transition">
                    Search</button>
            </div>
                <% if(user){%>
                    <div class="flex items-center space-x-4">
                        <a href="#" class="text-center text-gray-700 hover:text-primary transition relative">
                            <div class="text-2xl">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="text-xs leading-3">Cart</div>
                            <div
                                class="absolute -right-3 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
                                2</div>
                        </a>
                        <a href="/user/account" class="text-center text-gray-700 hover:text-primary transition relative">
                            <div class="text-2xl">
                                <i class="fa-regular fa-user"></i>
                            </div>
                            <div class="text-xs leading-3">Account</div>
                        </a>
                    </div>
                <% } else { %>
                    <div class="flex items-center space-x-4 font-bold ">
                        <a href="/user/login" class="text-black hover:text-white transition">Login</a>
                        <span class="text-black">/</span>
                        <a href="/user/register" class="text-black hover:text-white transition">Register</a>
                    </div>
                <% } %>
        </div>
    </header>
    <!-- ./header -->

    <!-- navbar -->
    <nav class="bg-gray-800 hidden md:block">
        <div class="container flex">
            <div class="px-8 py-4 bg-primary flex items-center cursor-pointer relative group">
                <span class="text-white">
                    <i class="fa-solid fa-bars"></i>
                </span>
                <span class="capitalize ml-2 text-white">All Types</span>

                <!-- dropdown -->
                <div
                    class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible">
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/laptop.svg" alt="sofa" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Laptop</span>
                    </a>
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/phone.svg" alt="terrace" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Phone</span>
                    </a>
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/television-tv.svg" alt="bed" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Television</span>
                    </a>
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/watch.svg" alt="office" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Watch</span>
                    </a>
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/photo-camera.svg" alt="outdoor" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Camera</span>
                    </a>
                </div>
            </div>

            <div class="flex items-center justify-between flex-grow pl-12">
                <div class="flex items-center space-x-6 capitalize">
                    <a href="/" class="text-gray-200 hover:text-white transition">Home</a>
                    <a href="/products/get" class="text-gray-200 hover:text-white transition">Shop</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">About us</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">Contact us</a>
                </div>
                <!-- <div>
                    <a href="/user/login" class="text-gray-200 hover:text-white transition">Login</a>
                    <span class="text-gray-200">/</span>
                    <a href="/user/register" class="text-gray-200 hover:text-white transition">Register</a>
                </div> -->
            </div>
        </div>
    </nav>
    <!-- ./navbar -->

    <!-- breadcrumb -->
    <div class="container py-4 flex items-center gap-3">
        <a href="../index.html" class="text-primary text-base">
            <i class="fa-solid fa-house"></i>
        </a>
        <span class="text-sm text-gray-400">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p class="text-gray-600 font-medium">Profile</p>
    </div>
    <!-- ./breadcrumb -->

    <!-- wrapper -->
    <div class="md:mx-8 flex flex-col md:flex-row items-start justify-between gap-8 pt-4 pb-16">

        <!-- sidebar -->
        <div class="w-1/4 hidden md:block">
            <div class="px-4 py-3 shadow flex items-center gap-4">
                <div class="flex-shrink-0">
                    <img src="<%=user.avatar%>" alt="profile"
                        class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover">
                </div>
                <div class="flex-grow">
                    <p class="text-gray-600">Hello,</p>
                    <h4 class="text-gray-800 font-medium"><%=user.fullName%></h4>
                </div>
            </div>

            <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
                <div class="space-y-1 pl-8">
                    <a id="account" href="/user/account" 
                        class="account block font-medium capitalize transition">
                        <span class="absolute -left-8 top-0 text-base">
                            <i class="fa-regular fa-address-card"></i>
                        </span>
                        Manage account
                    </a>
                    <a id="profile" href="/user/profile" 
                        class="profile relative hover:text-primary block capitalize transition">
                        Profile information
                    </a>
                    <a id="addresses" href="/addresses/get" 
                    class="addresses relative hover:text-primary block capitalize transition">
                        Manage addresses
                    </a>
                    <a id="passwords" href="/user/changePassword" 
                        class="passwords relative hover:text-primary block capitalize transition">
                        Change password
                    </a>
                </div>

                <div class="space-y-1 pl-8 pt-4">
                    <a id="orders" 
                    href="/orders/get" 
                    class="orders relative hover:text-primary block font-medium capitalize transition">
                        <span class="absolute -left-8 top-0 text-base">
                            <i class="fa-solid fa-box-archive"></i>
                        </span>
                        My order history
                    </a>
                    <a id="reviews" 
                    href="/reviews/myreviews" 
                    class="reviews relative hover:text-primary block capitalize transition">
                        My reviews
                    </a>
                </div>
                <div class="space-y-1 pl-8 pt-4">
                    <a id="carts" 
                    href="/carts/get" 
                    class="carts relative text-primary block font-medium capitalize transition">
                        <span class="absolute -left-8 top-0 text-base">
                            <i class="fa-regular fa-heart"></i>
                        </span>
                        My Cart
                    </a>
                </div>

                <div class="space-y-1 pl-8 pt-4">
                    <a href="/user/logout" class="relative hover:text-primary block font-medium capitalize transition">
                        <span class="absolute -left-8 top-0 text-base">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </span>
                        Logout
                    </a>
                </div>

            </div>
        </div>
        <!-- ./sidebar -->
        <div class="pl-2">
            <button
                class="flex justify-center items-center border border-gray-200 p-2 rounded-md md:hidden"
                onclick="handleOpenDialog('profile-dialog')">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <!-- ./diaglog -->
        <div
            onclick="handleCloseDialog('profile-dialog')" 
            id="profile-dialog"
            class="fixed inset-0 bg-black bg-opacity-50 flex hidden z-50">
            <div class="w-2/3 bg-white">
                <div class="flex flex-row justify-between items-start bg-white p-2">
                    <div class="px-4 py-3 shadow flex items-center gap-4">
                        <div class="flex-shrink-0">
                            <img src="<%=user.avatar%>" alt="profile"
                                class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover">
                        </div>
                        <div class="flex-grow">
                            <p class="text-gray-600">Hello,</p>
                            <h4 class="text-gray-800 font-medium"><%=user.fullName%></h4>
                        </div>
                    </div>
                    <div class="flex justify-center items-center 
                        w-[40px] h-[40px] border border-black p-3 rounded-xl">
                        <button
                            onclick="handleCloseDialog('profile-dialog')">
                            X
                        </button>
                    </div>
                </div>
    
                <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
                    <div class="space-y-1 pl-8">
                        <a href="/user/account" 
                            class="account block font-medium capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="fa-regular fa-address-card"></i>
                            </span>
                            Manage account
                        </a>
                        <a href="/user/profile" 
                            class="profile relative hover:text-primary block capitalize transition">
                            Profile information
                        </a>
                        <a href="/addresses/get" 
                            class="addresses relative hover:text-primary block capitalize transition">
                            Manage addresses
                        </a>
                        <a href="/user/changePassword" 
                            class="passwords relative hover:text-primary block capitalize transition">
                            Change password
                        </a>
                    </div>
    
                    <div class="space-y-1 pl-8 pt-4">
                        <a href="/orders/get" 
                            class="orders relative hover:text-primary block font-medium capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="fa-solid fa-box-archive"></i>
                            </span>
                            My order history
                        </a>
                        <a href="/reviews/myreviews" 
                            class="reviews relative hover:text-primary block capitalize transition">
                            My reviews
                        </a>
                    </div>
    
                    <div class="space-y-1 pl-8 pt-4">
                        <a href="/carts/get" 
                            class="carts relative text-primary block font-medium capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            My Cart
                        </a>
                    </div>
    
                    <div class="space-y-1 pl-8 pt-4">
                        <a href="/user/logout" class="relative hover:text-primary block font-medium capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </span>
                            Logout
                        </a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- ./diaglog -->

        <!-- info -->
        <div class="w-full md:w-3/4 flex flex-col gap-5">
            <div class="w-full flex flex-col col-span-9 self-center shadow rounded px-6 ">
                <h3 class="font-semibold text-lg">YOUR REVIEWS</h3>
                <ul class="">
                    <% if(reviews.length>0){%>
                    <% reviews.forEach(review=>{%>
                    <li class="">
                        <a href="/productDetails/get/<%=review.product._id%>" class="flex flex-col md:flex-row justify-start items-center p-2 border-2 border-gray-400 rounded-lg my-2 bg-red-100">
                            <div class="w-full md:w-1/6 flex justify-center items-center">
                                <img src="<%=review.product.image%>" class="rounded-full w-20 h-20 object-cover">
                            </div>
                            <div class="w-full md:w-5/6 flex flex-col md:flex-row justify-between items-center">
                                <div class="flex flex-col items-center md:items-start w-full md:w-5/6">
                                    <h3 class="text-xl font-semibold"><%=review.product.name%></h3>
                                    <div class="">
                                        <% for(let i=0;i < 5;i++)
                                        {%>
                                            <%if(i < review.rating){%>
                                        <label for="" class="text-2xl text-yellow-400 cursor-pointer">
                                            <i class="fa-solid fa-star"></i>
                                        </label>
                                        <%}
                                        else{%>
                                            <label for="" class="text-2xl text-yellow-400 cursor-pointer">
                                                <i class="fa-regular fa-star"></i>
                                            </label>
                                        <%}%>
                                        <%}%>
                                    </div>
                                    <p class=" w-full break-words overflow-hidden"><%=review.comment%></p>
                                </div>
                                <div class="self-start block w-full md:w-1/6">
                                     Date: <%=review.createdAt%>
                                </div>
                            </div>
                        </a>
                    </li><%})%><%}
                    else{%>
                        <p class="text-center block text-xl">You have not rated any products yet</p>
                    <%}%>
                </ul>
                <div class="flex my-6 self-center">
                    <% if (page > 1) { %> 
                        <a class="mx-1 block py-2 px-3 border-2 border-gray-100" href="/reviews/myreviews?page=<%= page - 1 %>">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        <a class="mx-1 block py-2 px-3 border-2 border-gray-100" href="/reviews/myreviews?page=1">Start</a>
                    <% } %>
                    
                    <% let startPage = Math.max(1, page - 2); %>
                    <% let endPage = Math.min(totalPages, page + 2); %>
                    <% for (let i = startPage; i <= endPage; i++) { %>
                        <a  href="/reviews/myreviews?page=<%= i %>" class="mx-1 block py-2 px-3 border-2  <%= i === page ? 'text-white bg-red-500' : '' %>"> <%= i %></a>
                    <% } %>
                    
                    <% if (page < totalPages) { %>
                        <a class="mx-1 block py-2 px-3 border-2 border-gray-100" href="/reviews/myreviews?page=<%= totalPages %>">End</a>
                        <a class="mx-1 block py-2 px-3 border-2 border-gray-100" href="/reviews/myreviews?page=<%= page + 1 %>"><i class="fa-solid fa-chevron-right"></i></a>
                    <% } %>                
                </div>
            </div>
        </div>
        <!-- ./info -->
    </div>
    <!-- ./wrapper -->

    <!-- footer -->
    <footer class="bg-white pt-16 pb-12 border-t border-gray-100">
        <div class="container grid grid-cols-3">
            <div class="col-span-1 space-y-8 mr-2">
                <img src="../assets/images/logo.svg" alt="logo" class="w-30">
                <div class="mr-2">
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, hic?
                    </p>
                </div>
                <div class="flex space-x-6">
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-facebook-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-instagram-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-twitter-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <i class="fa-brands fa-github-square"></i>
                    </a>
                </div>
            </div>

            <div class="col-span-2 grid grid-cols-2 gap-8">
                <div class="grid grid-cols-2 gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Solutions</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Marketing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Analitycs</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Commerce</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Insights</a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Support</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Pricing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Documentation</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Guides</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">API Status</a>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Solutions</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Marketing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Analitycs</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Commerce</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Insights</a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Support</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Pricing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Documentation</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Guides</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">API Status</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ./footer -->

    <!-- copyright -->
    <div class="bg-gray-800 py-4">
        <div class="container flex items-center justify-between">
            <p class="text-white">&copy; TailCommerce - All Right Reserved</p>
            <div>
                <img src="/assets/images/methods.png" alt="methods" class="h-5">
            </div>
        </div>
    </div>
    <!-- ./copyright -->
    <script src="/js/common/util.js"></script>
    <script src="/js/common/profile/updateProfileStatus.js"></script>
    <script src="/js/common/profile/dialog.js"></script>
     
</body>
</html>