<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account - Ecommerce Tailwind</title>

    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
</head>

<body>
    <!-- header -->
    <header class="shadow-sm bg-white  p-2">
        <div class="flex flex-row items-center justify-between">
            <a href="index.html">
                <img src="/assets/images/logo.svg" alt="Logo" class="w-32">
            </a>

            <div
                id="search-container"  
                class="w-full   max-w-xl relative hidden md:flex">
                <span class="absolute left-4 top-3 text-lg text-gray-400">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="text" name="search" id="search"
                    class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none"
                    placeholder="Search">
                <button onclick="handleSearch()" class="bg-primary border border-primary text-white px-8 rounded-r-md 
                    hover:bg-transparent hover:text-primary transition">
                    Search</button>
            </div>
                <% if(user){%>
                    <div class="flex items-center space-x-4">
                        <a href="/carts/get" class="text-center text-gray-700 hover:text-primary transition relative">
                            <div class="text-2xl">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="text-xs leading-3">Cart</div>
                            <div
                                id="cart-number"
                                class="absolute -right-3 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
                                <%=cartNumber%></div>
                        </a>
                        <a href="/user/account" class="text-center text-gray-700 hover:text-primary transition relative">
                            <div class="text-2xl">
                                <i class="fa-regular fa-user"></i>
                            </div>
                            <div class="text-xs leading-3">Account</div>
                        </a>
                    </div>
                <% } else { %>
                    <div class="flex items-center space-x-4 font-bold ">
                        <a href="/user/login" class="text-black hover:text-white transition">Login</a>
                        <span class="text-black">/</span>
                        <a href="/user/register" class="text-black hover:text-white transition">Register</a>
                    </div>
                <% } %>
        </div>
    </header>
    <!-- ./header -->

    <!-- navbar -->
    <nav class="bg-gray-800 hidden md:block">
        <div class="container flex">
            <div class="px-8 py-4 bg-primary flex items-center cursor-pointer relative group">
                <span class="text-white">
                    <i class="fa-solid fa-bars"></i>
                </span>
                <span class="capitalize ml-2 text-white">All Types</span>

                <!-- dropdown -->
                <div
                    class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible">
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/laptop.svg" alt="sofa" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Laptop</span>
                    </a>
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/phone.svg" alt="terrace" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Phone</span>
                    </a>
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/television-tv.svg" alt="bed" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Television</span>
                    </a>
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/watch.svg" alt="office" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Watch</span>
                    </a>
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="/assets/images/icons/photo-camera.svg" alt="outdoor" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Camera</span>
                    </a>
                </div>
            </div>

            <div class="flex items-center justify-between flex-grow pl-12">
                <div class="flex items-center space-x-6 capitalize">
                    <a href="/" class="text-gray-200 hover:text-white transition">Home</a>
                    <a href="/products/get" class="text-gray-200 hover:text-white transition">Shop</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">About us</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">Contact us</a>
                </div>
                <!-- <div>
                    <a href="/user/login" class="text-gray-200 hover:text-white transition">Login</a>
                    <span class="text-gray-200">/</span>
                    <a href="/user/register" class="text-gray-200 hover:text-white transition">Register</a>
                </div> -->
            </div>
        </div>
    </nav>
    <!-- ./navbar -->

    <!-- breadcrumb -->
    <div class="container py-4 flex items-center gap-3">
        <a href="../index.html" class="text-primary text-base">
            <i class="fa-solid fa-house"></i>
        </a>
        <span class="text-sm text-gray-400">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p class="text-gray-600 font-medium">Shop</p>
    </div>
    <!-- ./breadcrumb -->

    <!-- Product Detail -->
    <div class="container flex flex-col md:flex-row gap-6 justify-center items-center">
        <div class="flex flex-col justify-center items-center w-full md:w-1/2 gap-2">
            <img id="product-img" src="<%= product.image %>" alt="product" class="w-full" />
            <div class="w-full swiper">
                <div class="swiper-wrapper">
                    <% alternativeImages?.forEach(image => { %>
                        <div class="swiper-slide h-64 flex flex-col justify-center items-center">
                            <img
                                id="alternative-<%=image%>"
                                onclick="handleSwapImage('alternative-<%=image%>')" 
                                src="<%=image%>" class="flex items-center justify-center 
                                h-full w-full object-cover cursor-pointer"></img>
                        </div>
                    <% }) %>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next "></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div id="product-infor">
            <h2 class="text-3xl font-medium uppercase mb-2">
                <%= product.name %>
            </h2>
            <div class="flex items-center mb-4">
                <div class="flex gap-1 text-sm text-yellow-400">
                    <%-generateRatingStars(Math.floor(product.rating)) %>
                </div>
                <div class="text-xs text-gray-500 ml-3">(150 Reviews)</div>
            </div>
            <div class="space-y-2">
                <p class="text-gray-800 font-semibold space-x-2">
                    <span>Availability: </span>
                    <% if(product.totalStock > 0) { %>
                            <span class="text-green-600">
                                <%= product.totalStock %>
                            </span>
                    <% } else { %>
                            <span class="text-red-600">Out of stock</span>
                    <% } %>
                </p>
                <p class="space-x-2">
                    <span class="text-gray-800 font-semibold">Brand: </span>
                    <span class="text-gray-600">
                        <%= product.brand_id.name %>
                    </span>
                </p>
                <p class="space-x-2">
                    <span class="text-gray-800 font-semibold">Cateogory: </span>
                    <span class="text-gray-600">
                        <%= product.category_id.name %>
                    </span>
                </p>
            </div>
            <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
                <p class="text-gray-800 font-semibold">Price:</p>
                <p class="text-xl text-primary font-semibold">
                    <% if(product.salePrice!=="0.00") { %>
                        <span class="text-red-500">$<%= product.salePrice %></span>
                        <span class="line-through text-gray-500">$<%= product.price %></span>     
                    <% } else { %>
                        <span class="text-gray-500">$<%= product.price %></span> 
                    <% }
                    %>
                </p>
            </div>
            <div class="mt-4 flex flex-row gap-3">
                <div class="flex flex-row gap-3">
                    <button
                    onclick="handleChangeQuantity(-1)" 
                    class="p-2 border border-black rounded-md w-10 h-10">-</button>
                    <input type="text" value="1" class="w-12 text-center border-none " id="quantity"/>
                    <button 
                    onclick="handleChangeQuantity(1)"
                    class="p-2 border border-black rounded-md w-10 h-10">+</button>
                </div>
                <button 
                    onclick="handleAddToCart('<%= product._id %>')"
                    id="add-to-cart"
                    class="bg-primary text-white py-3 px-8 rounded-md hover:bg-transparent hover:text-primary transition">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
    <div class="px-4 border-t border-gray-200 mt-5">
        <h3 class="text-xl  font-roboto text-gray-800 font-bold m-0">Description</h3>
        <p class="text-gray-600 m-0">
            <%= product.description %>
        </p>
    </div>
    <div class="container pb-16 mt-16 flex flex-col justify-center items-center">
        <h3 class="text-xl border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium">Product details</h3>
        <div class="w-3/5 pt-6 flex justify-center items-center">
            <table id="product-details-table" class="table-auto border-collapse w-2/3 text-left text-gray-600 text-sm mt-6">   
                <% for (const detail of productDetails) { %>
                    <tr>
                        <th class="py-2 px-4 border border-gray-300 w-40 font-medium"><%= detail.property_id.name %></th>
                        <th class="py-2 px-4 border border-gray-300 "><%= detail.value %></th>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
    <!-- Product Detail -->
    <!--Review-->
    <div class="container pb-16">
        <div>
            <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">Reviews</h2>
            <div class="flex flex-col md:flex-row justify-center p-4">
                <div class="w-full md:w-1/2 flex flex-col gap-3 pl-10">
                    <div class="w-full flex flex-col md:flex-row justify-start">
                        <div class="w-full md:w-1/5 flex flex-row items-center  gap-2">
                            <p id="rating-product" class="text-5xl font-bold"><%=parseFloat(product.rating.toFixed(1))%></p>
                            <p class="break-words">Out of 5 Stars</p>
                        </div>
                        <div class="flex justify-center items-center gap-1 text-sm text-yellow-400">
                            <% for (let i = 1; i <= 5; i++) { %>
                                <% if (i <= product.rating) { %>
                                    <label for="rating<%=i%>" class="text-2xl text-yellow-400 cursor-pointer">
                                        <i class="fa-solid fa-star"></i>
                                    </label>
                                <% } else { %>
                                    <label for="rating<%=i%>" class="text-2xl text-yellow-400 cursor-pointer ">
                                        <i class="fa-regular fa-star"></i>
                                    </label>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <div class="w-full flex flex-row justify-start gap-5 items-center">
                            <div class="border border-black w-2/3 h-8"><div class="w-full h-full bg-blue-400"></div></div>
                            <div>(<%= reviews.filter(review=>review.rating===5).length%>)</div>
                        </div>
                        <div class="w-full flex flex-row justify-start gap-5 items-center">
                            <div class="border border-black w-2/3 h-8"><div class="w-4/5 h-full bg-blue-400"></div></div>
                            <div>(<%= reviews.filter(review=>review.rating===4).length%>)</div>
                        </div>
                        <div class="w-full flex flex-row justify-start gap-5 items-center">
                            <div class="border border-black w-2/3 h-8"><div class="w-3/5 h-full bg-blue-400"></div></div>
                            <div>(<%= reviews.filter(review=>review.rating===3).length%>)</div>
                        </div>
                        <div class="w-full flex flex-row justify-start gap-5 items-center">
                            <div class="border border-black w-2/3 h-8"><div class="w-2/5 h-full bg-blue-400"></div></div>
                            <div>(<%= reviews.filter(review=>review.rating===2).length%>)</div>
                        </div>
                        <div class="w-full flex flex-row justify-start gap-5 items-center">
                            <div class="border border-black w-2/3 h-8"><div class="w-1/5 h-full bg-blue-400"></div></div>
                            <div>(<%= reviews.filter(review=>review.rating===1).length%>)</div>
                        </div>
                    </div>
                </div>
                <div
                    class="w-full md:w-1/2 p-5">
                    <% if(showingReviews.length<=0){ %>
                        <p class="text-gray-600">No review yet</p>
                    <% } else { %>
                        <div class="w-full">
                            <div id="reviews-container">
                                <% for (let i = 0; i < showingReviews.length; i++) { %>    
                                    <div class="flex flex-row justify-start items-center gap-4 class">
                                        <div class="w-[50px] h-[50px]">
                                            <img 
                                            class="w-full h-full object-cover rounded-full"
                                            src="https://github.com/octocat.png?s=200" alt="doing" />
                                        </div>
                                        <div>
                                            <div class="flex flex-row gap-6">
                                                <h3 class="font-bold"><%= showingReviews[i].user.fullName %></h3>
                                                <p class="opacity-50 text-blue-400"><%= showingReviews[i].createdAt %></p>
                                            </div>
                                            <div>
                                                <div class="flex gap-1 text-sm text-yellow-400">
                                                    <%- generateRatingStars(showingReviews[i].rating) %>
                                                </div>
                                            </div>
                                            <div>
                                                <p><%= showingReviews[i].comment %></p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div> 
                            <div
                                id="paging-btn-container" 
                                class="flex flex-row justify-center items-center gap-2">
                                <% const COUNT_PAGE_SHOW=3; %>
                                <% for (let i = 1; i <= COUNT_PAGE_SHOW && i<=Math.ceil(totalReviews/reviewsPerPage); i++) { %>
                                    <button
                                    onclick="handleReviewPaging(<%=i%>)"
                                    id="review-page-btn-<%=i%>" 
                                    class="hover:cursor-pointer h-10 w-10 border border-black rounded-lg <%=i===1?'bg-blue-300':''%>"><%=i%></button>
                                <% } %>
                                <button
                                    id="last-btn"
                                    onclick="handleReviewPaging('<%=Math.ceil(totalReviews/reviewsPerPage)%>')"
                                    class="w-14 h-10 border text-center border-black px-2 rounded-lg <%=Math.ceil(totalReviews/reviewsPerPage)-1>1?'':'hidden'%>">Last</button>
                            </div>
                        </div>     
                    <% } %>
                </div>
            </div>
        </div>
        <% if(user){%>
            <div>
                <label for="review" class="block text-gray-800 font-medium mt-6">Add a review</label>
                <% const TOTAL_STAR = 5; %>
                <% const rating = 0; %>
                <div class="flex gap-2 mt-2" id="input-starsRating">
                    <% for (let i = 1; i <= TOTAL_STAR; i++) { %>
                        <% if (i <= rating) { %>
                            <label
                                onclick="handleRating('<%=i%>')"
                                for="rating<%=i%>" class="text-2xl text-yellow-400 cursor-pointer">
                                <i class="fa-solid fa-star"></i>
                            </label>
                        <% } else { %>
                            <label
                                onclick="handleRating('<%=i%>')"
                                for="rating<%=i%>" class="text-2xl text-yellow-400 cursor-pointer">
                                <i class="fa-regular fa-star"></i>
                            </label>
                        <%}%>
                    <% } %>
                </div>
                <input type="text" name="review" id="comment" 
                    class="w-full border border-gray-300 rounded-md p-3 mt-2"/>
                <button 
                    onclick="handleAddReview()"
                    class="bg-blue-500 text-white py-3 px-8 rounded-md hover:text-black transition mt-2"
                    id="add-review">Add review</button>
            </div>
        <% } %>
    </div>
    <!--Review-->
    <!-- Related product -->
    <div class="container pb-16">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">Related products</h2>
        <div class="flex flex-col md:flex-row justify-center items-center gap-6 md:h-[420px]">
            <% relatedProducts.forEach(product => { %>
                <div class="bg-white shadow rounded overflow-hidden group 
                flex flex-col justify-between max-w-[250px] h-full">
                    <div class="flex flex-col gap-2">
                        <div class="relative">
                            <img
                            onclick="window.location.href='/productDetails/get/<%=product._id%>'" 
                            src="<%= product.image %>" alt="product-img" class="w-full h-[140px] object-cover cursor-pointer">
                        </div>
                        <div class="pt-4 pb-3 px-4">
                            <a href="#">
                                <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">
                                    <%= product.name %>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="px-2">
                            <div class="flex items-baseline mb-1 space-x-2">
                                <% if(product.salePrice!=="0.00") { %>
                                    <div class="text-xl text-primary font-semibold">$<%= product.salePrice %></div>
                                    <div class="text-xl text-gray-500 line-through">$<%= product.price %></div>
                                <% } else { %>
                                    <div class="text-xl text-gray-500 font-semibold">$<%= product.price %></div>
                                <% } %>
                            </div>
                            <div class="flex items-center">
                                <div class="flex gap-1 text-sm text-yellow-400">
                                    <%- generateRatingStars(Math.floor(product.rating)) %>
                                </div>
                                <div class="text-xs text-gray-500 ml-3">(150)</div>
                            </div>
                        </div>
                        <a 
                            onclick="handleAddToCart('<%= product._id %>',1)"
                            class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">
                            Add to cart
                        </a>
                    </div>
                </div>
              <% }) %>              
        </div>
    </div>
    <!-- footer -->
    <footer class="bg-white pt-16 pb-12 border-t border-gray-100">
        <div class="container grid grid-cols-1 md:grid-cols-3">
            <div class="col-span-1 space-y-8 mr-2">
                <img src="/assets/images/logo.svg" alt="logo" class="w-30">
                <div class="mr-2">
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, hic?
                    </p>
                </div>
                <div class="flex space-x-6">
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-facebook-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-instagram-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-twitter-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <i class="fa-brands fa-github-square"></i>
                    </a>
                </div>
            </div>

            <div class="col-span-2 grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="grid grid-cols-2 gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Solutions</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Marketing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Analitycs</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Commerce</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Insights</a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Support</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Pricing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Documentation</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Guides</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">API Status</a>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Solutions</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Marketing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Analitycs</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Commerce</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Insights</a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Support</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Pricing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Documentation</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Guides</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">API Status</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ./footer -->

    <!-- copyright -->
    <div class="bg-gray-800 py-4">
        <div class="container flex items-center justify-between">
            <p class="text-white">&copy; TailCommerce - All Right Reserved</p>
            <div>
                <img src="/assets/images/methods.png" alt="methods" class="h-5">
            </div>
        </div>
    </div>
    <!-- ./copyright -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            loop: true, 
            slidesPerView: 3, 
            slidesPerGroup: 1, 
            spaceBetween: 10, 
            pagination: {
            el: '.swiper-pagination',
            clickable: true,
            },
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
                autoplay: {
                delay: 2500, 
                },
        });
    </script>
    <script>
        const totalStock = "<%= product.totalStock %>";
        const user = "<%= JSON.stringify(user) %>"; 
    </script>
    <script src="/js/common/util.js"></script>
    <script src="/js/productDetails/productDetails.js"></script>
    <script src="/js/common/showSpinnerLoading.js"></script>
    <script src="/js/common/toast.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>